---
layout: page
title: Carl Furrow
tagline: Pushing bits on the Internet
---
{% include JB/setup %}

<h3> Knowledge is a framework that experience bends. </h3>

I'm just a learning-fool, looking to master the art of solving problems
through writing code, and yelling at computer screens. Currently pushing bits
over wires at [Lumosity](http://lumosity.com).

<!-- This loops through the paginated posts -->
<ul class="posts">
{% for post in paginator.posts %}
  <li class='post'>
    <h3 class='title row'>
      <span class='date col-xs-3'>{{ post.date | date_to_string }}</span>
      <a class='col-xs-9' href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
    </h3>
    <div class='row'>
      <p class='col-xs-9 col-xs-offset-3'>
        {{ post.description }}
      </p>
    </div>
  </li>
{% endfor %}
</ul>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
