<div class="row">
  <div class="small-12 columns small-centered text-center">
    <i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;Want to get updates in your inbox?
    <a href="https://tinyletter.com/furrowcious">Sign up to receive our newsletter!</a>
  </div>
</div>
<div class="notepad-author-info">
  <div class="row">
    <section class="notepad-post-author small-12 columns">
      <img src="{{site.url}}/images/{{ site.author.avatar }}" class="notepad-post-author-avatar" alt="{{ site.author.name }}'s photo">
      <span class="author-label">Author</span>
      <h1>{{ site.author.name }}</h1>
      <p><a href="mailto:{{ site.author.email }}" class="author-website">{{ site.author.email }}</a></p>
      <p>{{ site.author.description }}</p>
    </section>
  </div>
</div>
